---
http_interactions:
- request:
    method: get
    uri: https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/2022-01-20/currencies/eur.min.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Jsd-Version:
      - '1'
      X-Jsd-Version-Type:
      - branch
      Etag:
      - W/"b80-KMVWJIABoYn0bJ/qJI8yM7mBun4"
    body:
      encoding: ASCII-8BIT
      string: '{"date":"2022-01-20","eur":{"ada":0.845509,"aed":4.167416,"afn":119.414645,"all":121.910523,"amd":545.448909,"ang":2.044991,"aoa":599.626928,"ars":118.233393,"aud":1.571578,"awg":2.04224,"azn":1.924944,"bam":1.957396,"bbd":2.290983,"bch":0.003053,"bdt":97.553119,"bgn":1.954744,"bhd":0.427809,"bif":2277.097976,"bmd":1.134578,"bnb":0.002439,"bnd":1.530191,"bob":7.823488,"brl":6.171026,"bsd":1.134683,"btc":0.000027,"btn":84.363655,"bwp":13.125214,"byn":2.932647,"byr":22237.728121,"bzd":2.28718,"cad":1.418847,"cdf":2274.828645,"chf":1.038709,"clf":0.033265,"clp":917.885299,"cny":7.199011,"cop":4531.583814,"crc":719.39986,"cuc":1.134578,"cup":30.066316,"cve":110.736049,"czk":24.274976,"djf":201.637449,"dkk":7.443002,"doge":6.908512,"dop":65.576399,"dzd":158.536892,"egp":17.824788,"ern":17.018692,"etb":56.277722,"etc":0.0363,"eth":0.000363,"eur":1,"fjd":2.408426,"fkp":0.825882,"gbp":0.83341,"gel":3.488872,"ggp":0.825882,"ghs":7.113603,"gip":0.825882,"gmd":59.735402,"gnf":10250.911442,"gtq":8.742604,"gyd":237.464803,"hkd":8.840007,"hnl":27.797459,"hrk":7.523731,"htg":114.463079,"huf":355.556885,"idr":16289.703138,"ils":3.56026,"imp":0.825882,"inr":84.469046,"iqd":1656.483829,"irr":47935.919177,"isk":145.203005,"jep":0.825882,"jmd":175.884879,"jod":0.804441,"jpy":129.783243,"kes":128.831462,"kgs":96.209606,"khr":4620.001053,"kmf":492.62147,"kpw":1021.120347,"krw":1349.132309,"kwd":0.343062,"kyd":0.945536,"kzt":495.468691,"lak":12803.712403,"lbp":1714.596452,"link":0.052724,"lkr":230.195746,"lrd":171.037806,"lsl":17.381431,"ltc":0.00822,"ltl":3.350114,"lvl":0.686295,"lyd":5.190693,"mad":10.525488,"mdl":20.48119,"mga":4532.63926,"mkd":61.632816,"mmk":2017.439937,"mnt":3243.566845,"mop":9.106628,"mro":405.044138,"mur":49.706215,"mvr":17.541188,"mwk":926.382141,"mxn":23.271219,"myr":4.753662,"mzn":72.420177,"nad":17.381093,"ngn":470.475694,"nio":40.231678,"nok":9.962614,"npr":134.982047,"nzd":1.673508,"omr":0.436839,"pab":1.134683,"pen":4.382855,"pgk":3.976737,"php":58.63896,"pkr":199.96965,"pln":4.523279,"pyg":7902.049631,"qar":4.13101,"ron":4.945167,"rsd":117.61599,"rub":86.460286,"rwf":1151.596635,"sar":4.256199,"sbd":9.146207,"scr":15.603453,"sdg":496.379242,"sek":10.34009,"sgd":1.528572,"shp":1.562766,"sll":12880.300007,"sos":663.7284,"srd":23.991215,"std":23483.473179,"svc":9.928727,"syp":2850.059594,"szl":17.478258,"thb":37.367281,"theta":0.260632,"tjs":12.816413,"tmt":3.971023,"tnd":3.284554,"top":2.573166,"trx":16.297896,"try":15.238283,"ttd":7.693187,"twd":31.278726,"tzs":2609.529593,"uah":32.259316,"ugx":3994.096344,"usd":1.134578,"usdt":1.127312,"uyu":50.583366,"uzs":12281.806818,"vef":242607058593.09253,"vnd":25760.592704,"vuv":128.969082,"wst":2.963907,"xaf":656.485257,"xag":0.047009,"xau":0.000617,"xcd":3.066254,"xdr":0.808451,"xlm":4.58864,"xmr":0.005616,"xof":656.362469,"xpf":119.641105,"xrp":1.529025,"yer":283.928231,"zar":17.396365,"zmk":10212.561049,"zmw":19.630209,"zwl":365.333642}}'
  recorded_at: Tue, 15 Mar 2022 15:31:14 GMT
[...]
