---
http_interactions:
- request:
    method: get
    uri: https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/2021-12-23/currencies/chf.min.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Jsd-Version:
      - '1'
      X-Jsd-Version-Type:
      - branch
      Etag:
      - W/"b6f-+aqybdZMd+sbhsu0evdpeYX+PdI"
    body:
      encoding: ASCII-8BIT
      string: '{"date":"2021-12-23","chf":{"ada":0.827061,"aed":3.994627,"afn":112.557819,"all":115.876649,"amd":535.554263,"ang":1.960032,"aoa":614.032162,"ars":111.200252,"aud":1.507534,"awg":1.957563,"azn":1.853225,"bam":1.882114,"bbd":2.195799,"bch":0.002494,"bdt":93.30469,"bgn":1.876438,"bhd":0.410015,"bif":2177.245377,"bmd":1.087535,"bnb":0.00205,"bnd":1.484171,"bob":7.509384,"brl":6.149362,"bsd":1.087506,"btc":0.000023,"btn":82.142089,"bwp":12.764462,"byn":2.747105,"byr":21315.689011,"bzd":2.192142,"cad":1.39702,"cdf":2177.245318,"chf":1,"clf":0.033923,"clp":936.019554,"cny":6.927708,"cop":4350.129739,"crc":696.096404,"cuc":1.087535,"cup":28.819681,"cve":106.284846,"czk":24.061821,"djf":193.27651,"dkk":7.135721,"doge":6.320674,"dop":62.043478,"dzd":151.23807,"egp":17.081889,"ern":16.313113,"etb":53.125924,"etc":0.030774,"eth":0.000278,"eur":0.959679,"fjd":2.326253,"fkp":0.820413,"gbp":0.814401,"gel":3.35504,"ggp":0.820413,"ghs":6.715578,"gip":0.820413,"gmd":57.041363,"gnf":10116.79871,"gtq":8.395768,"gyd":227.42267,"hkd":8.482503,"hnl":26.481141,"hrk":7.218077,"htg":110.929298,"huf":353.394754,"idr":15442.781675,"ils":3.443321,"imp":0.820413,"inr":82.070677,"iqd":1588.345092,"irr":45961.957538,"isk":140.879211,"jep":0.820413,"jmd":167.13685,"jod":0.771028,"jpy":124.158437,"kes":123.054335,"kgs":92.220914,"khr":4430.617999,"kmf":472.91484,"kpw":978.781554,"krw":1293.323957,"kwd":0.329418,"kyd":0.906304,"kzt":475.256823,"lak":12122.754861,"lbp":1643.518721,"link":0.055427,"lkr":220.224883,"lrd":155.463415,"lsl":17.194181,"ltc":0.00708,"ltl":3.211208,"lvl":0.657839,"lyd":5.008134,"mad":10.067368,"mdl":19.396124,"mga":4154.384605,"mkd":59.25811,"mmk":1933.629189,"mnt":3108.593793,"mop":8.736811,"mro":388.249863,"mur":47.688608,"mvr":16.802541,"mwk":882.539192,"mxn":22.544936,"myr":4.575801,"mzn":69.417445,"nad":17.194181,"ngn":447.161734,"nio":38.502883,"nok":9.649746,"npr":131.427458,"nzd":1.598258,"omr":0.418709,"pab":1.087506,"pen":4.387659,"pgk":3.839486,"php":54.531727,"pkr":193.775954,"pln":4.447834,"pyg":7397.756447,"qar":3.959701,"ron":4.752744,"rsd":112.906114,"rub":80.115237,"rwf":1092.97283,"sar":4.083031,"sbd":8.802425,"scr":14.178063,"sdg":475.864324,"sek":9.87346,"sgd":1.481408,"shp":1.497971,"sll":12207.581991,"sos":635.120444,"srd":23.293886,"std":22509.781956,"svc":9.515319,"syp":2732.424225,"szl":17.19397,"thb":36.594456,"theta":0.250043,"tjs":12.273198,"tmt":3.817248,"tnd":3.130468,"top":2.485616,"trx":13.875162,"try":13.09305,"ttd":7.381782,"twd":30.153219,"tzs":2501.330305,"uah":29.648764,"ugx":3860.690614,"usd":1.087535,"usdt":1.08484,"uyu":48.237702,"uzs":11799.756674,"vef":232547883706.27408,"vnd":24969.807128,"vuv":123.166241,"wst":2.827777,"xaf":631.233837,"xag":0.047756,"xau":0.000603,"xcd":2.939118,"xdr":0.778605,"xlm":4.084271,"xof":632.398538,"xpf":114.955859,"xrp":1.15665,"yer":271.910992,"zar":17.099919,"zmk":9789.126821,"zmw":17.982298,"zwl":350.185875}}'
  recorded_at: Sun, 13 Mar 2022 23:00:00 GMT
- request:
    method: get
    uri: https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/2021-12-16/currencies/chf.min.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Jsd-Version:
      - '1'
      X-Jsd-Version-Type:
      - branch
      Etag:
      - W/"b72-rEsrSFlHmX2lVM7JeBC8dkGAYww"
      Fastly-Original-Body-Size:
      - '1593'
    body:
      encoding: ASCII-8BIT
      string: '{"date":"2021-12-16","chf":{"ada":0.821694,"aed":3.973928,"afn":119.625499,"all":116.034289,"amd":521.497555,"ang":1.949865,"aoa":603.656341,"ars":110.154836,"aud":1.508928,"awg":1.947962,"azn":1.832497,"bam":1.877547,"bbd":2.184383,"bch":0.002414,"bdt":92.822913,"bgn":1.873701,"bhd":0.407907,"bif":2164.883626,"bmd":1.081901,"bnb":0.001996,"bnd":1.480217,"bob":7.459445,"brl":6.146171,"bsd":1.081872,"btc":0.000022,"btn":82.58802,[...]
[...]
