---
http_interactions:
- request:
    method: get
    uri: https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/2021-12-23/currencies/eur.min.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Jsd-Version:
      - '1'
      X-Jsd-Version-Type:
      - branch
      Etag:
      - W/"b73-h/aJ9/q/8jAzljqh6oIL/yyFHa8"
      Fastly-Original-Body-Size:
      - '1584'
    body:
      encoding: ASCII-8BIT
      string: '{"date":"2021-12-23","eur":{"ada":0.86181,"aed":4.162461,"afn":117.286936,"all":120.745206,"amd":558.055575,"ang":2.042383,"aoa":639.830723,"ars":115.872331,"aud":1.570873,"awg":2.03981,"azn":1.931088,"bam":1.961191,"bbd":2.288055,"bch":0.002599,"bdt":97.224887,"bgn":1.955277,"bhd":0.427242,"bif":2268.722342,"bmd":1.133228,"bnb":0.002137,"bnd":1.546528,"bob":7.824891,"brl":6.407727,"bsd":1.133198,"btc":0.000024,"btn":85.593289,"bwp":13.300761,"byn":2.862525,"byr":22211.267685,"bzd":2.284245,"cad":1.455716,"cdf":2268.72228,"chf":1.042015,"clf":0.035348,"clp":975.346416,"cny":7.218776,"cop":4532.90044,"crc":725.342894,"cuc":1.133228,"cup":30.03054,"cve":110.750404,"czk":25.072778,"djf":201.397023,"dkk":7.435528,"doge":6.586237,"dop":64.650235,"dzd":157.592337,"egp":17.799585,"ern":16.998508,"etb":55.35801,"etc":0.032067,"eth":0.000289,"eur":1,"fjd":2.42399,"fkp":0.854883,"gbp":0.848618,"gel":3.496002,"ggp":0.854883,"ghs":6.997733,"gip":0.854883,"gmd":59.437956,"gnf":10541.856008,"gtq":8.748516,"gyd":236.977834,"hkd":8.838895,"hnl":27.593746,"hrk":7.521344,"htg":115.589992,"huf":368.242635,"idr":16091.610147,"ils":3.587992,"imp":0.854883,"inr":85.518877,"iqd":1655.079411,"irr":47893.049184,"isk":146.798251,"jep":0.854883,"jmd":174.159105,"jod":0.803423,"jpy":129.374954,"kes":128.224463,"kgs":96.095576,"khr":4616.770414,"kmf":492.784357,"kpw":1019.905061,"krw":1347.662963,"kwd":0.343258,"kyd":0.944382,"kzt":495.224738,"lak":12632.092406,"lbp":1712.57116,"link":0.057756,"lkr":229.477631,"lrd":161.99521,"lsl":17.916595,"ltc":0.007378,"ltl":3.346127,"lvl":0.685478,"lyd":5.218551,"mad":10.490348,"mdl":20.211052,"mga":4328.931074,"mkd":61.74784,"mmk":2014.870619,"mnt":3239.201361,"mop":9.103888,"mro":404.562181,"mur":49.692245,"mvr":17.5085,"mwk":919.619076,"mxn":23.492161,"myr":4.768053,"mzn":72.334019,"nad":17.916595,"ngn":465.949234,"nio":40.120582,"nok":10.05518,"npr":136.949383,"nzd":1.665409,"omr":0.436301,"pab":1.133198,"pen":4.572006,"pgk":4.000802,"php":56.822878,"pkr":201.917451,"pln":4.63471,"pyg":7708.573184,"qar":4.126068,"ron":4.952431,"rsd":117.649864,"rub":83.481279,"rwf":1138.894083,"sar":4.25458,"sbd":9.172259,"scr":14.773754,"sdg":495.857764,"sek":10.288293,"sgd":1.543649,"shp":1.560908,"sll":12720.483548,"sos":661.805029,"srd":24.272579,"std":23455.530445,"svc":9.915105,"syp":2847.227029,"szl":17.916375,"thb":38.131972,"theta":0.260549,"tjs":12.788856,"tmt":3.97763,"tnd":3.261995,"top":2.590049,"trx":14.458127,"try":13.643154,"ttd":7.691928,"twd":31.420107,"tzs":2606.423698,"uah":30.894457,"ugx":4022.89753,"usd":1.133228,"usdt":1.13042,"uyu":50.264409,"uzs":12295.523451,"vef":242318383040.19318,"vnd":26018.913574,"vuv":128.341071,"wst":2.946586,"xaf":657.755127,"xag":0.049762,"xau":0.000628,"xcd":3.062605,"xdr":0.811318,"xlm":4.255872,"xof":658.968763,"xpf":119.785729,"xrp":1.205246,"yer":283.335332,"zar":17.818372,"zmk":10200.416984,"zmw":18.737824,"zwl":364.898935}}'
  recorded_at: Sun, 13 Mar 2022 23:00:00 GMT
[...]
